body {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

nav div{
    max-width: 1200px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

nav div ul {
    max-width: 1200px;
    width: 100%;
    height: 50px;
    list-style: none;
}

nav div ul li {
    text-align: center;
    float: left;
    margin-left: 20px;
    border: 1px solid black;
}

nav div ul li a {
    text-decoration: none;
    color: black;
}

#mypage_menu div a {
    margin-left: 10px;
}