@charset "UTF-8";

a{
	text-decoration: none;
}
#header_body{
	width:1200px;
	margin: 0 auto;
}


#main_header{
	width: 1200px;
	border: 2px solid black;
	margin:0 auto;
	background-image: url('../img/main_img/main_back1.jpg');
	background-size: 1200px 370px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;

}

#header_name{
	
	font-family: fantasy;
    font-size: 90px;
	display: block;
    font-weight: bold;

}
#header_name > a{

    color: white;
}

#header_menu_cover{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	
}

#header_menu{
	width: 500px;
	border:1px solid red;
	margin:0 auto;

	text-align: center;
}

.header_menu_box{
	width:90px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	float:left;
	
}
.header_menu_box a > img {
	width: 90px;
	height: 70px;
}

#header_a_tag{
	width:300px;
	margin: 0 auto;
	border: 2px solid white;
	float:right;
}