@charset "UTF-8";

html{
	background-image: url('../img/main_img/back_img1.gif');
}
a{
	text-decoration: none;
	}

#header_body{
	width:1200px;
	margin: 0 auto;

}
#header_a_tag > a{
	 color: white;
	 font-weight: bold ;
}


#main_header{
	width: 1200px;
	/*border: 2px solid black;*/
	margin:0 auto;
	background-image: url('../img/main_img/main_back1.jpg');
	background-size: 1200px 370px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;

}

#header_name{
	
	font-family: fantasy;
    font-size: 90px;
	display: block;
    font-weight: bold;

}
#header_name > a{

    color: white;
}

#header_menu_cover{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	
}

#header_menu{
	width: 500px;
	margin:0 auto;
	height:100px;
	text-align: center;
}

.header_menu_box{
	width:90px;
	margin-left:20px;
	margin-right: 10px;
	text-align: center;
	
	float:left;
	
}
.header_menu_box a > img {
	width: 90px;
	height: 70px;
}

#header_a_tag{
	width:300px;
	margin: 0 auto;

	float:right;
}