/*°øÅë*/
.mypage_title {
	text-align: center;
}

.clear {
	clear: both;
}

/*mypage css*/
.menu_img {
	float: left;
}

.menu_img img {
	width: 250px;
	height: 250px;
	margin-right: 65.5px;
}

.menu_img p {
	margin: 0 auto;
	margin-right: 65.5px;
	width: 250px;
	height: 21px;
	text-align: center;
	color: black;
}

.menu_img_last img {
	width: 250px;
	height: 250px;
}

.menu_img_last p {
	margin: 0 auto;
	width: 250px;
	height: 21px;
	text-align: center;
	float: left;
	width: 250px;
	color: black;
}

/*orders css*/
#orders div {
	margin: 10px;
	border: 1px solid black;
}

.dt {
	max-width: 100%;
	height: 100px;
}

#orders table tr td a {
	text-decoration: none;
	color: black;
}

#orders_table {
	max-width: 1200px;
	width: 100%;
	border: 1px solid black;
}

.img {
	width: 200px;
	height: 100px;
}

/*bookmark css*/
.bookmark_img {
	width: 250px;
	height: 250px;
	float: left;
	border: 1px solid black;
}

.bookmark_table {
	margin: 0 auto;
	margin-left: 20px;
	width: -webkit-calc(100% - 272px);
    width: -moz-calc(100% - 272px);
    width: calc(100% - 272px);
	height: 250px;
	border: 1px solid black;
	float: left;
	height: 250px;
	height: 250px
}

.bookmark {
	max-width: 1200px;
	width: 100%;
	height: 250px;
}
.bookmark_td{
	width: 100px;
}

.bookmark_link{
	color: black;
}