#detail_navMenu ul li {
	list-style:none;
    text-decoration: none;
	background-color: dodgerblue;
	border: 1px solid white;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	position: relative;
}
#detail_navMenu ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

#detail_navMenu ul li a:hover {
	background-color: #e8491d;
}
#detail_navMenu ul ul {
	display: none;
	position: absolute;
}
#detail_navMenu ul{
    clear: both;
} 
.detail_product > div , .detail_seller > div {
    border: solid 1px black;
}
.detail_product, .detail_seller, #detail_rap{
    clear: both;
    overflow: hidden;
}
#detail_productName, #detail_sellerId{
    margin: 0;
    float: left;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
}
#detail_productPrice, #detail_sellerReliability{
    float: left;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
}
.detail_content img{
	width: 150px;
	height:200px;
    float: left;
}
.detail_content{
    float: left;
    margin: 10px;
}
#detail_rap {
	height: 800px;
}