

body{
    background-color: seashell;
    width: 1200px;
    margin: 0 auto;
}

#main_header{
    background-image: url("./main_back.jpg");
    background-size: 1200px 370px;
    background-repeat : no-repeat;  /* 반복 안함 */
    width: 1200px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    
}
#main_name{
  
    font-family: fantasy;
    font-size: 40px;
    color: dodgerblue;
}
#main_listbox{
    background-color: khaki;
    width: 900px;
    height: 90px;
    margin: 0 auto;
    border: 1px solid orange;
    
}

.list_img{
    padding: 10px;
    float: left;
    width: 120px;
    height: 75px;
}
.list_img >img{
    width: 90px;
    height: 70px;

}
#main_login{
    font-size: 15px;
    padding-top: 30px;
    text-align: right;
}
